<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.chat4j.platform.mapper.MessageReadMapper">

    <resultMap type="MessageRead" id="MessageReadResult">
        <result property="readId"    column="read_id"    />
        <result property="userId"    column="user_id"    />
        <result property="msgId"    column="msg_id"    />
        <result property="device"    column="device"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectMessageReadVo">
        select read_id, user_id, msg_id, device, create_time from tb_message_read
    </sql>
    <insert id="insertMessageReadBatch">
        INSERT INTO tb_message_read (read_id, user_id, msg_id, device, create_time)
        VALUES
        <foreach collection="messageReadList" item="item" separator=",">
            (#{item.readId}, #{item.userId}, #{item.msgId}, #{item.device}, #{item.createTime})
        </foreach>
    </insert>
    <select id="selectReadCountByMsgIdList"
            resultType="com.abc.chat4j.platform.domain.dto.MessageReadCountDTO">
        select msg_id as msgId, count(*) as readCount from tb_message_read where msg_id in
        <foreach collection="receiptMsgIdList" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
        group by msg_id
    </select>
    <select id="selectReadCountByUserIdAndMsgIdList" resultType="java.lang.Long">
        select msg_id from tb_message_read where user_id = #{userId} and msg_id in
        <foreach collection="msgIdList" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>
    <select id="selectReadUserIdListByMsgId" resultType="java.lang.Long">
        select user_id from tb_message_read where msg_id = #{msgId}
    </select>

</mapper>
