<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.chat4j.platform.mapper.RoomMapper">

    <resultMap type="Room" id="RoomResult">
        <result property="roomId"    column="room_id"    />
        <result property="type"    column="type"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
        <result property="ver"    column="ver"    />
    </resultMap>

    <sql id="selectRoomVo">
        select room_id, type, create_time, update_time, status, ver from tb_room
    </sql>

</mapper>
